body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

body ul {
    list-style: none;
    margin: 0;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: -1px;
    will-change: transform;
    position: relative;
}

a:link, a:visited {
    text-decoration: none;
    color: unset;
}

.header {
    /*background: url(./images/main-header.png) no-repeat center center;*/
    /*background-color: #222;*/
    background-color: rgba(30, 30, 30, 0.5);

    color: white;
    height: 500px;
}

#header-back {
    /*background: url(http://demo.mutationmedia.net/BOUNCEVCARD/V1/images/profileImages/profileLarge.jpg) no-repeat center center;
    background-size: cover;*/
    background-color: #333;
    position: fixed;
    width: 100%;
    height: 500px;
    z-index: -1;
    will-change: transform;
}

.header h1 {
    margin: 0;
    font-size: 46pt;
    text-align: center;
    letter-spacing: -2pt;
    padding-top: 200px;
}

.header h3 {
    text-transform: uppercase;
    font-size: 11pt;
    -webkit-text-stroke: 0.30px;
    text-align: center;
    margin: 0;
}

.main-navbar {
    /* Measure from outer size */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    position: absolute;
    width: 100%;
    top: 417px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
}

.main-navbar > div {
    max-width: 900px;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
}

.main-navbar a {
    text-shadow: rgba(27, 27, 27, 0.2) 2px 3px 4px;
}

.main-navbar span {
    -webkit-flex: none;
    flex: none;
}

.main-navbar span.separator {
    -webkit-flex: 1;
    flex: 1;
}

.main-navbar li {
    cursor: pointer;
}

/* Fixed nav bar */
.main-navbar.fixed {
    position: fixed;
    top: 0;
    background-color: white;
    padding: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.171);
    z-index: 1;
}

.main-navbar.fixed a {
    color: black;
    text-shadow: initial;
    -webkit-text-stroke: initial;
}

/* Mobile nav bar */
.main-navbar.mobile {
    background-color: transparent;
    padding: 0px;
    position: fixed;
    top: 0;
    z-index: 1;
    color: #333;
}

.main-navbar.mobile.expanded {
    background-color: rgba(255, 255, 255, 0.8);
}

.main-navbar.mobile ul {
    width: 100%;
    padding: 0;
}

.main-navbar.mobile li {
    display: none;
}

.main-navbar.mobile.expanded li {
    display: block;
    padding: 0;
}

.main-navbar.mobile.expanded li > a {
    display: inline-block;
    padding: 15px;
    padding-left: 25px;
    width: 100%;
}

.navbar-button {
    background-color: rgba(255, 255, 255, 0.8);
    float: right;
    cursor: pointer;
    padding: 10px;
    width: 22px;
    text-align: center;
}

.main-navbar.mobile.expanded .navbar-button {
    background-color: transparent;
}

.header ul {
    display: inline;
    padding: 10px;
}

.header li {
    display: inline;
    padding: 15px;
    font-size: 9.5pt;
    -webkit-text-stroke: 0.30px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    fill: white;
}


.about {
    font-family: 'Open Sans', sans-serif;
    display: -webkit-flex;
    display: flex;
    color: white;
}

.about > span {
    flex: 1;
    padding: 100px 35px 100px 35px;
}

#about-left {
    background-color: rgb(74, 194, 190);
}

#about-left > div {
    max-width: 400px;
    margin-left: auto;
}

#about-right {
    background-color: rgb(62, 175, 171);
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webket-justify-content: center;
    justify-content: left;
}

#about-right > div {
    max-width: 400px;
    margin-right: auto;
}

.about h1 {
    font-size: 28pt;
    letter-spacing: -1px;
    margin: 0;
}

.about h3 {
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: normal;
}

.about h2 {
    font-weight: 300;
    text-transform: uppercase;
}

#about-right > span {
    flex: initial;
}

.about ul {
    margin-right: 40px;
    margin-left: -20px;
}


/* Sections */
.section {
    font-family: 'Open Sans', sans-serif;
    max-width: 650px;
    margin: 0 auto 0 auto;
    padding: 60px;
}

.section-back {
    margin: 0;
    background-color: white;
    width: 100%;
    z-index: -10;
}

.section h1 {
    text-align: center;
    font-size: 18pt;
}

.little-divisor {
    display: block;
    background-color: black;
    width: 100px;
    height: 3px;
    margin: 0 auto 0 auto;
    border-radius: 1px;
}

.section h2 {
    font-weight: 300;
    color: #aaa;
    margin: 70px 0;
    text-align: center;
}

.section h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17pt;
    text-transform: uppercase;
    -webkit-text-stroke: 0.20px;
    margin-bottom: 40px;
    margin-top: 70px;
}

.section p {
    font-size: 14px;
    color: #333;
}

.section p img {
    margin: 10px;
}


/* Section alts */

.section.fullwidth {
    width: 100%;
    max-width: unset;
    padding-left: 0;
    padding-right: 0;
}

.section.fullwidth h2 {
    padding-left: 60px;
    padding-right: 60px;
}

.section.centered {
    text-align: center;
}


.section-back.alt1 {
    background-color: #414349;
}

.section.alt1 {
    color: white;
}

.section.alt1 h2 {
    color: #eee;
}

.section.alt1 p {
    color: #eee;
}

.section.alt1 .little-divisor {
    background-color: white;
}


.skill-bar {
    text-transform: uppercase;
    font-size: 10pt;
    font-weight: bold;
    color: #888;
    letter-spacing: 1px;
}

.skill-bar > span {
    display: inline-block;
    width: 100px;
    height: 16px;
    margin: 0;
}

.bar-fill {
    background-color: #333;
}

.bar-back {
    background-color: #eee;
}

.skill-bar.alt1 > .bar-fill {
    background-color: #37b0ac;
}


#footer {
    color: #ddd;
    text-align: center;
    background-color: #222;
    font-size: 8pt;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.466);
}

#footer div {
    padding: 10px;
}

#footer ul {
    text-decoration-style: none;
    padding: 0;
    margin: 0;
}

#footer li {
    font-size: 21pt;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: #555;
    border-radius: 5px;
    margin: 6px;
}

iframe {
    display: block;
    margin: 15px auto 15px auto;
    width: 80vw;
    height: 45vw;
    max-width: 800px;
    max-height: 450px;
}


/* Contact form */
form {
    text-align: right;
}

input, textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
}

input[type=text], select, textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    border-style: none;
    background-color: #f5f5f5;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: rgb(228, 115, 115);
    color: white;
    padding: 12px 50px;
    border: none;
    cursor: pointer;
}

@media (min-width: 700px) {
    #name-email {
        display: flex;
    }
    #name, #email {
        flex: 1;
    }
    #name {
        margin-right: 11px;
    }
    #email {
        margin-left: 11px;
    }
}


@media (min-width: 900px) {
    .only-mobile {
        display: none !important;
    }
}

@media (max-width: 900px) {
    .hide-mobile {
        display: none !important;
    }
    .about {
        display: block;
        text-align: center;
    }
    .about > span {
        display: block;
    }
    #about-left > div {
        margin: 0 auto 0 auto;
    }
    #about-right {
        display: block;
    }
    #about-right > span {
        margin-left: auto;
        margin-right: auto;
    }
    #about-right ul {
        padding: 0;
        margin: 0;
    }
}

/* Nav bar */

@media (min-width: 700px) {
    .main-navbar.mobile {
        display: none;
    }
}
@media (max-width: 700px) {
    .main-navbar.desktop {
        display: none;
    }
}

/* Animation and script related */
.fadein {
    position: relative;
}
